<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EnvVariableMapper">
  <resultMap id="BaseResultMap" type="com.model.EnvVariable">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="value" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="env_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="is_delete" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, key, value, env_id,is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from env_variable
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from env_variable
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.EnvVariable">
    insert into env_variable (id, key, value, 
      env_id)
    values (#{id,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{envId,jdbcType=VARCHAR})
  </insert>
  

  <update id="updateByPrimaryKey" parameterType="com.model.EnvVariable">
    update env_variable
    set key = #{key,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      env_id = #{envId,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>